@require "../../common/stylus/_basic.styl"

.water-fall-area
  position: relative;
  width 80%
  margin auto

.item
  background #b1b1b1
  transition all 1s ease
  font-size 30px
  color #fff
  text-align center
  box-sizing border-box
  padding-top 15px
