@require "../../common/stylus/_basic.styl"

.water-fall-area
  position: absolute
  width 100%

.item
  background #b1b1b1
  width: 200px
  transition all 1s ease
  font-size 30px
  color #fff
  text-align center
  box-sizing border-box
  padding-top 15px